<!DOCTYPE html>
<html>
  <head>
    <title>Crime Data Visualization</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://unpkg.com/d3-sankey@0.12.3/dist/d3-sankey.min.js"></script>
        
    
  </head>

  <body>
    <div class="chart-container">
      <h2> Crime by Month</h2>
      <label for="year">Select Year</label>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
    </div>
    <div id="linecontainer">
      <div id="line1"></div>
    </div>
    
    <script src="/static/js/chart1.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
    <div class="row">
      <div id="piecontainer">
        <div id="pie1"></div>
      </div>
    </div>
  </body>
</html>